<%= render "shared/banner_home" %>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">All your lists</h3>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
          <%= render "shared/card_category", list: list %>
      </div>
    <% end %>
  </div>
</div>
